<ion-header>
  <ion-toolbar color="fondon">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fondon">
  <!-- <hr class="linea"/> -->

  <form [formGroup]="registroForm">
    
    <!-- Tarjeta de datos personales -->

    <ion-card color="negclaro">

      <!-- Encabezado de datos personales -->

      <ion-card-header>        
        <ion-card-title>Datos Personales</ion-card-title>
        <ion-card-subtitle>Campos obligatorios *</ion-card-subtitle>
      </ion-card-header>
      
      <!-- Inputs de la tarjeta -->

      <ion-card-content>

        <!-- Campo nombre -->
        <ion-item color="fondocla">
          <ion-label color="griso" position="floating" >Nombre *</ion-label>
          <ion-input formControlName="nombre"><b></b></ion-input> 
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.nombre">
            <div class="mensaerr" *ngIf="registroForm.get('nombre').hasError(error.type) && (registroForm.get('nombre').dirty || registroForm.get('nombre').touched)">
                {{error.message}}
            </div>
          </ng-container>
        </div>

        <!-- Campo apellido paterno -->
        <ion-item color="fondocla">
          <ion-label color="griso" position="floating">Apellido Materno *</ion-label>
          <ion-input formControlName="apepate"></ion-input> 
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.apepate">
            <div class="mensaerr" *ngIf="registroForm.get('apepate').hasError(error.type) && (registroForm.get('apepate').dirty || registroForm.get('apepate').touched)">
                {{error.message}}
            </div>
          </ng-container>
        </div>

        <!-- Campo apellido materno -->
        <ion-item color="fondocla">
          <ion-label color="griso" position="floating">Apellido Materno *</ion-label>
          <ion-input formControlName="apemate"></ion-input> 
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.apemate">
            <div class="mensaerr" *ngIf="registroForm.get('apemate').hasError(error.type) && (registroForm.get('apemate').dirty || registroForm.get('apemate').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

        <!-- Campo de genero -->
        <ion-item color="negclaro">
          <ion-label color="griso">Género *</ion-label>
          <ion-select color="negclaro" formControlName="genero"  placeholder=" ">
            <ion-select-option *ngFor="let sexo of sexos" [value]="sexo" color="negclaro">
              {{sexo}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.genero">
            <div class="mensaerr" *ngIf="registroForm.get('genero').hasError(error.type) && (registroForm.get('genero').dirty || registroForm.get('genero').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

        <!-- Campo Puesto -->
        <ion-item color="negclaro">
          <ion-label color="griso">Puesto *</ion-label>
          <ion-select  formControlName="puesto"  placeholder=" ">
            <ion-select-option *ngFor="let puesto of puestos" [value]="puesto">
              {{puesto}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.puesto">
            <div class="mensaerr" *ngIf="registroForm.get('puesto').hasError(error.type) && (registroForm.get('puesto').dirty || registroForm.get('puesto').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>
        
        <!-- Campo Email -->
        <ion-item color="negclaro">
          <ion-label color="griso" position="floating">E-mail *</ion-label>
          <ion-input [(ngModel)]="mail" formControlName="email" name="mail"></ion-input> 
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.email">
            <div class="mensaerr" *ngIf="registroForm.get('email').hasError(error.type) && (registroForm.get('email').dirty || registroForm.get('email').touched)">
                {{error.message}}
            </div>
          </ng-container>
        </div>

        <!-- Campo Celular -->
        <ion-item color="negclaro">
            <ion-label color="griso" position="floating">Celular *</ion-label>
            <ion-input formControlName="celular"></ion-input> 
          </ion-item>
          <div class="mensaerr">
            <ng-container *ngFor="let error of error_messages.celular">
              <div class="mensaerr" *ngIf="registroForm.get('celular').hasError(error.type) && (registroForm.get('celular').dirty || registroForm.get('celular').touched)">
                  {{error.message}}
              </div>
            </ng-container>
          </div>

      </ion-card-content>
    </ion-card>

    <!-- Tarjeta de datos de negocio -->

    <ion-card color="negclaro">
     
      <!-- Encabezado de datos del negocio -->

      <ion-card-header>        
        <ion-card-title>Datos del negocio </ion-card-title>
      </ion-card-header>

      <!-- Contenido de la tarjeta de negocios -->

      <ion-card-content>

        <!-- Campo Nombre del Negocio -->

        <ion-item color="fondocla">
          <ion-label color="griso" position="floating">Nombre del negocio *</ion-label>
          <ion-input formControlName="negocio"></ion-input> 
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.negocio">
            <div class="mensaerr" *ngIf="registroForm.get('negocio').hasError(error.type) && (registroForm.get('negocio').dirty || registroForm.get('negocio').touched)">
                {{error.message}}
            </div>
          </ng-container>
        </div>

        <!-- Campo calle y numero -->
        <ion-item color="fondocla">
          <ion-label color="griso" position="floating">Calle y numero *</ion-label>
          <ion-input formControlName="callen"></ion-input> 
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.callen">
            <div class="mensaerr" *ngIf="registroForm.get('callen').hasError(error.type) && (registroForm.get('callen').dirty || registroForm.get('callen').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

        <!-- Campo Colonia --> 
        <ion-item color="fondocla">
          <ion-label color="griso" position="floating">Colonia *</ion-label>
          <ion-input formControlName="colonia"></ion-input> 
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.colonia">
            <div class="mensaerr" *ngIf="registroForm.get('colonia').hasError(error.type) && (registroForm.get('colonia').dirty || registroForm.get('colonia').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>
  
        <!-- Campo Municipio / Delegación -->
        <ion-item color="fondocla">
          <ion-label color="griso" position="floating">Municipio / Delegación *</ion-label>
          <ion-input formControlName="municipio"></ion-input> 
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.municipio">
            <div class="mensaerr" *ngIf="registroForm.get('municipio').hasError(error.type) && (registroForm.get('municipio').dirty || registroForm.get('municipio').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

        <!-- Campo Estado -->
        <ion-item color="fondocla">
          <ion-label color="griso" position="floating">Estado *</ion-label>
          <ion-input formControlName="estado"></ion-input> 
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.estado">
            <div class="mensaerr" *ngIf="registroForm.get('estado').hasError(error.type) && (registroForm.get('estado').dirty || registroForm.get('estado').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

        <!-- Campo Codigo Postal -->
        <ion-item color="fondocla">
          <ion-label color="griso" position="floating">Código postal *</ion-label>
          <ion-input formControlName="cpostal" maxlength="5"></ion-input> 
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.cpostal">
            <div class="mensaerr" *ngIf="registroForm.get('cpostal').hasError(error.type) && (registroForm.get('cpostal').dirty || registroForm.get('cpostal').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

        <!-- Campo télefono -->
        <ion-item color="fondocla">
          <ion-label color="griso" position="floating">Teléfono *</ion-label>
          <ion-input formControlName="telefono"></ion-input> 
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.telefono">
            <div class="mensaerr" *ngIf="registroForm.get('telefono').hasError(error.type) && (registroForm.get('telefono').dirty || registroForm.get('telefono').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

        <!-- Campo tipo de negocio -->
        <ion-item color="negclaro">
          <ion-label color="griso">Tipo de negocio *</ion-label>
          <ion-select  formControlName="tipnego"  placeholder=" ">
            <ion-select-option *ngFor="let tipo of tipos" [value]="tipo">
              {{tipo}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.tipnego">
            <div class="mensaerr" *ngIf="registroForm.get('tipnego').hasError(error.type) && (registroForm.get('tipnego').dirty || registroForm.get('tipnego').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>        
      </ion-card-content>      
    </ion-card>

    <ion-card color="negclaro">
     
      <!-- Encabezado de datos del usuario -->
  
      <ion-card-header>        
        <ion-card-title>Datos de la cuenta</ion-card-title>
      </ion-card-header>
  
      <!-- Contenido de la tarjeta de usuario -->
  
      <ion-card-content>

        <!-- Campo Usuario -->

        <ion-item color="fondocla">
          <!-- <ion-label color="griso" position="floating">Usuario *</ion-label> -->
          <ion-input color="griso" disabled="true">{{mail}}</ion-input> 
        </ion-item>

        <!-- Campo Contraseña -->

        <ion-item color="fondocla">
          <ion-label color="griso" position="floating">Contraseña *</ion-label>
          <ion-input formControlName="password" type="password"></ion-input> 
        </ion-item>
        <div class="mensaerr">
          <ng-container *ngFor="let error of error_messages.password">
            <div class="mensaerr" *ngIf="registroForm.get('password').hasError(error.type) && (registroForm.get('password').dirty || registroForm.get('password').touched)">
              {{error.message}}
            </div>
          </ng-container>
        </div>

      </ion-card-content>
    </ion-card>
    
    <br>

    <div class="botonce">
      <ion-button  [disabled]="registroForm.invalid" (click)="onSubmitRegistro()" fill="clear" style="text-transform: none;">Registrarse</ion-button>
      &nbsp; &nbsp;
      <ion-button  routerLink="/login"  style="text-transform: none;" fill="clear" >Regresar</ion-button>
    </div>

    <br><br>

  </form>
</ion-content>
