<ion-header>
    <img class="logo" src="assets/imagenes/logo.jpeg" alt="">
  </ion-header>
  
  <ion-content padding>
  
    <ion-label>
      <p class="bienvenido"><b>Recupera Contraseña</b></p>
    </ion-label>
  
    <br><br>
  
    <form #form="ngForm" (ngSubmit)="login(form)">
  
      <ion-input [(ngModel)]="email" type="text" placeholder="Usuario" name="usuario" ngModel required></ion-input>
  
      <br><br>
      
      <div class="botonce">
        <ion-button [disabled]="form.invalid" (click)="onSubmitReset()"  fill="clear" style="text-transform: none;">Recuperar</ion-button>
      </div>
  
      <br><br>
   
      <ion-label> 
          <p class="olvido" routerLink="/login"><u>Regresar a inicio de sesión</u></p>
      </ion-label>
      
    </form>>
  </ion-content>
  