<ion-header>
  <ion-toolbar color="fondon">

    <!-- Boton de hamburgesa -->

    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>


    <ion-title><b>Productos</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">

    <hr class="linea"/>

  <ion-card>

    <!-- Primera linea de productos -->

    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-img src="assets/imagenes/bascula.png" style="width: 50px; height: 50px;"></ion-img>
        </ion-col>
        <ion-col size="9">
          <br>
          <ion-label color="fondon"><b>Bascula Bar-RS</b></ion-label>
          <br>
          <ion-label class="descrip"><b>Rhino | BAC-20</b></ion-label>
        </ion-col>
        <ion-col>

          <!-- Tarjeta de descripcion -->

          <ion-card color="fondcla">
            <ion-grid>
              <ion-row>
                <ion-col size="8">
                  <ion-label color="fondon"><b>Código:</b></ion-label> 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- </ion-col> -->
                <!-- <ion-col size="7"> -->
                  <ion-label class="redondo" style="font-size: 10px;" color="griso">JHGS573DU</ion-label>
                  <br>
                  <ion-label color="griso"><b>Descuento:</b></ion-label>
                  &nbsp;&nbsp;
                  <ion-label class="redondo" style="font-size: 10px;" color="griso">20%</ion-label>
                </ion-col>
                <ion-col align-self-center class="ultCol">
                  <!-- <ion-label style="font-size: 15px;" color="fondon"><b>$1,263.00</b></ion-label> -->
                  <b>$1,263.00</b>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-card>
  
</ion-content>
